@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style cơ bản */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.851);
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Keyframes cho hiệu ứng floating hearts */
@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px) scale(1.2);
    opacity: 0;
  }
}

.animate-floatUp {
  animation-name: floatUp;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
